/* 以降スマホサイズ */
@media screen and (max-width: 480px) {
  body{
    min-width: 0px!important;
    width: 100%;
  }

  .inner,
  .inner-wid{
    width:100%!important;
    margin:0 auto;
  }

  header a,
  #header-bottom{
    display: none;
  }

/* ヘッダーのタイトル */
header h1{
  font-size:1.4rem!important;
}

/* ハンバーガーメニュー */
.drawer{
  position: absolute;
  top:1;
  right:10;
}

/* チェックボックスは非表示に */
.drawer-hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上に */
  cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 30px;
  border-radius: 3px;
  background: #f2f4e6;
  transition: 0.5s;
  position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 10px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
  top: 10px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  transform: rotate(-45deg);
}

/* メニューのデザイン*/
.drawer-content {
  width: 70%;
  height: 100%;
  position: fixed;
  top:0;
  right:-100%;
  z-index: 99;
  background: url("main-menu-img.jpg");
  transition: .5s;
  text-align: center;
  padding-top:40px;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
  right: 0;
}

/* メニューのフォント*/
.drawer-item a{
  display: block;
  padding:15px;
  font-size: 1.8rem;
  color:#f2f4e6;
  transition: .3s ease;
}

.drawer-item a:hover{
  text-decoration: underline;
}

/* メニュー背景の花の画像*/
#drawer-img{
  position: absolute;
  right: -10;
  bottom:15;
}

#drawer-img img{
  width: 70%;
  height: auto;
}

/* メニューのお問い合わせ*/
#contact_form a{
  margin-top:10px;
}

/* メインの画像*/
      #header-img{
      width: 100%!important;
      background-size: cover;
    }

    /* メイン画像上に記載の文章*/
    #header-top{
      opacity: .9;
    }

    #header-top h2{
      writing-mode:horizontal-tb;
      top:305;
      right:15;
      font-size: 2.6rem!important;
    }

    #header-top span{
      font-size: 2.0rem!important;
    }

/* 白い背景画像*/
#container-background{
  width: 100%;
  background-size:102% 102%!important;
  display: flex;
  flex-direction: column;
  padding: 35px 15px!important;
}

/* 背景の花の画像*/
#left-img,
#right-img{
  display: none;
}

/* 新着情報、ご挨拶*/
#main{
  width:100%!important;
}

/* 新着情報のタイトル*/
#latest{
  display: block!important;
  padding-bottom: 35px!important;
}

#latest .title h3{
  font-size: 1.6rem!important;
  text-align: center!important;
  padding-right: 0!important;
  padding-bottom: 15px;
}

  #latest img,#main-text img{
  width: 110px;
  height: auto;
  top:-12!important;
  right: -5!important;
  }
  
  
  /*アンドロイド*/
  .Android #latest{
  display: flex;
  padding-bottom: 60px;
}
  .Android #latest .title{
    position:relative;
    width:26.56%;
  }
  .Android #latest .title h3{
    font-size: 2.8rem;
    text-align: right;
    padding-right: 15px;
    position:relative;
  }
  .Android #latest .title img{
    position:absolute;
    top:-15;
    right: 15;
  }
  
  /*新着情報の記事*/
   #latest-article{
     width:100%!important;
     padding-left: 0!important;
   }

   #latest-article li{
     display: block!important;
     border-bottom:1px solid #333;
     padding-bottom: 5px;
     margin-bottom: 8px;
   }

   #latest-article a:hover{
     opacity: .8;
     text-decoration: none!important;
   }

   /*ご挨拶のタイトル*/
   #main-text{
     display: block!important;
   }

   #main-text .title h3{
     font-size: 1.6rem!important;
     text-align: center!important;
     padding:0 0 15px 0!important;
   }


   /*ご挨拶の文章*/
   #text{
     width:100%!important;
     word-wrap: break-word;
     padding-top:5px;
     padding-left: 0!important;
   }

/*サイドメニュー*/
#side{
  display: block;
  width:100%!important;
  padding-top: 35px;
}

#side ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 白い背景画像の背面の黒ハッチング*/
#container-inner::before{
  display: none!important;
}

/* ここからフッター*/
footer{
  position: relative;
  padding:0 20px;
}

/* フッター背景の花の画像*/
#footer-img{
  position: absolute;
  bottom:10;
  left: 10;
}
#footer-img img{
  width: 60%;
  height: auto;
}

#footer-inner #footer-text{
  padding:20px 0 15px 0!important;
}


/* フッター背景の黒ハッチング*/
#footer-inner::before{
  display: none!important;
}

/* フッターメニュー*/
#footer-menu ul{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding:30px 0 0!important;
}

#footer-menu li{
  width: 50%;
  text-align: center;
  z-index: 0!important;
}

#footer-menu a{
  display: block;
  padding: 5px 0!important;
  font-size:1.6rem!important;
  white-space: nowrap;
}
}

/* 以降タブレットサイズ*/
@media screen and (min-width: 481px) {
  @media screen and (max-width: 960px){

  body{
    min-width: 481px;
    width: 100%;
    height: auto;
  }

  .inner,
  .inner-wid{
    min-width: 0;
    width:100%;
    margin:0 auto;
  }


  #header-inner ul::before,
  #footer-inner::before,
  #container-inner::before{
    width: 100%!important;

  }

  /*白い背景画像*/
  #container-background{
    width: 100%;
    background-size:102% 102%!important;
    padding: 30px 20px!important;
  }

  /*ご挨拶の文章*/
  #text{
    word-wrap: break-word;
  }

  /* 背景の花の画像*/
  #left-img{
    display: none;
  }
  #right-img{
    display: none;
  }

  /* スマホ表示でのサイドメニュー*/
  .drawer {
    display: none;
  }
  /* スマホ表示での背景の花*/
  #footer-img{
    display: none;
  }
}
}

/* 以降pcサイズ*/
@media screen and (min-width: 961px) {

  /* スマホ表示でのサイドメニュー*/
  .drawer {
  display: none;
  }
  /* スマホ表示での背景の花*/
  #footer-img{
  display: none;
  }

}
